<table border="1">
  <tr>
    <th>Summoner</th><th>Reason</th><th>Ban duration</th><th>Ban ends</th>
  </tr>
<% @bans.each do |ban| -%>
<%= render ban %>
<% end -%>
</table>
<br/>
<%= link_to 'New Ban', new_ban_path %>