default: &default
  adapter: mysql2
  encoding: utf8
  pool: 10
  reconnect: true
  host: localhost

development:
  <<: *default
  database: development_volunteer
  username: development
  password:

test:
  <<: *default
  database: development_volunteer_test
  username: development
  password:

production:
  <<: *default
  database: volunteer
  username: volunteer
  password: